@font-face {
  src: url('fonts/Nevis-Bold/nevis.ttf');
  font-family: 'Nevis-Bold';
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
}


.matariki {
   background-image: linear-gradient(#00537F, #FFDDE4);
   height: 100vh;
}

.waitii {
   background-image: linear-gradient(#15B3FF, #F8FFD4);
   height: 100vh;
}

.waipuna-aa-rangi {
   background-image: linear-gradient(#AFAFAF, #E2E2E2);
   height: 100vh;
}

.tapu-aa-rangi {
  background-image: linear-gradient(#c6d838, #48992d);
  height: 100vh;
  z-index: 5;

}

.tapu-aa-nuku {
  background-image: linear-gradient(#a8a879, #E2E2B5);
  height: 100vh;
}

.waitaa {
  background-image: linear-gradient(#6AD3FF, #D4F9FF);
  height: 100vh;
  color: white;
}

.ururangi {
  background-image: linear-gradient(#62889e, #8bb3c9);
  height: 100vh;
  color: #DAE3E5;
}

/* Waitii page custom positioning */
.waitii-img {
  position: absolute;
  bottom: 0px;
  z-index: 1;
}



.scene {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.container {
  /*background-image: url("/img/Tapu-aa-nuku1.svg");*/
  /*background-image: url("img/tapu-aa-nuku1.svg");*/
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when scrolling */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on its container's size.
  It will cut off parts of the container to fit */
  background-size: cover;


  height: 100vh;

}

.top-bar {
  display: flex;


  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 3;
  /*
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;*/

}

.Title {
  width: 500px;
}

.nav{
  margin-left: auto;
  margin-right: 18px;
}

.navcircle {
  margin-top: 30px;
  fill: none;



}

.navcircle:hover {
  fill: white;

  cursor: pointer;

}

h1 {
  font-family: "Segoe UI";
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 18px;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 26px;
  letter-spacing: 7px;
  font-weight: normal;
  color: white;

}

p {
    font-family: "Segoe UI";
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 18px;
    font-size: 16px;
    letter-spacing: 7px;
    font-weight: normal;
    color: white;
}

.nav {
  float: right;
}

.tapu h1 {
  color: #1A1A1A;
}



.waitii h1 {
  color: #FFFFFF;
}

.waipuna-aa-rangi h1 {
  color: #191C1E;
}

#star {
  display: block;
  margin: auto;
  margin-top: 12vh;
  width: 25%;
}

/* Wind Animation */
.path {
  display: inline;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  animation: dash 2s linear alternate reverse;

}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

#particles-js {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

#myCanvas {
  position: absolute;
  top: 0;
  z-index: 10;
}

.windsvg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 0;
}

.st0 {
  fill:none;
}

.windsvg path {

  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: dash ease-in forwards infinite;


}


@keyframes dash {
  0% {
    stroke-dashoffset: 400;
  }
  10% {
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
  }
  20%, 100% {
    stroke-dasharray: 400;
    stroke-dashoffset: -400;
  }
}

#moonfront {

  fill: red;
  z-index: 2;
}

#moonellipse {
  fill: blue;
}

.moonfront {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -50px;
}

#moonright {
  fill: #354260;

}

#moonfront {
  fill: #f4f8ff
}

/* Matariki Page */
#matarikistars {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100vw;
}

.randstars {
  opacity: 0;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  3% { opacity: 0.2; }
  50% { opacity: 1; }
}


/* Waitii */

.water-level {
  position: absolute;
  bottom: 0px;
  height: 4.5vw;
  width: 100%;
  background-image: linear-gradient(#00373F, #001C1E);
  border-top: 1px solid #35707c;
  z-index: 2;
}

/* Tapu-aa-rangi */
#moths {
  display: none;
}

#rangi {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0px;
  z-index: 0;
}

#tapu-aa-nuku1 {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0px;
  z-index: 0;
}
